/* Compiler */

/* Color scheme */
/* Background color */
.bc-red5 {
    background-color: #F44336
}
.bc-blue5 {
    background-color: #2196F3
}
.bc-orange5 {
    background-color: #FF9800
}
.bc-purple5 {
    background-color: #9C27B0
}
.bc-blueGrey5 {
    background-color: #607D8B
}
/* Border radius */
.br-0 {
    border-radius: 0
}
.br-s {
    border-radius: 2px
}
.br-m {
    border-radius: 5px
}
.br-l {
    border-radius: 10px
}
.br-circle {
    border-radius: 50%
}
.btlr-0 {
    border-top-left-radius: 0
}
.btlr-s {
    border-top-left-radius: 2px
}
.btlr-m {
    border-top-left-radius: 5px
}
.btlr-l {
    border-top-left-radius: 10px
}
.btrr-0 {
    border-top-right-radius: 0
}
.btrr-0 {
    border-top-right-radius: 2px
}
.btrr-0 {
    border-top-right-radius: 5px
}
.btrr-0 {
    border-top-right-radius: 10px
}
.bbrr-0 {
    border-bottom-right-radius: 0
}
.bbrr-0 {
    border-bottom-right-radius: 2px
}
.bbrr-0 {
    border-bottom-right-radius: 5px
}
.bbrr-0 {
    border-bottom-right-radius: 10px
}
.bblr-0 {
    border-bottom-left-radius: 0
}
.bblr-0 {
    border-bottom-left-radius: 2px
}
.bblr-0 {
    border-bottom-left-radius: 5px
}
.bblr-0 {
    border-bottom-left-radius: 10px
}
/* Box shadow */
.bs-constantRaiseRadioButtonOtherButtons {
    box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24)
}
.bs-constantDistanceHeaderAndFab {
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28)
}
.bs-active {
    box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32)
}
.bs-dialogCompose {
    box-shadow: 0 0 8px rgba(0,0,0,.18),0 8px 16px rgba(0,0,0,.36)
}
.bs-modal {
    box-shadow: 0 0 14px rgba(0,0,0,.24),0 14px 28px rgba(0,0,0,.48)
}
/*.bs-card { box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24); }*/
/* Buttons, checkboxes, cards and other basic UI elements are on first level. Jump to second level on hover. */
/* More distant UI elements like FAB buttons and headers are on second level. Jump to third level on hover. */
/* Most distant UI elements like modals are on fourth level. Nowhere to jump. */
/* Color */
.color-red5 {
    color: #F44336
}
.color-blue5 {
    color: #2196F3
}
.color-orange5 {
    color: #FF9800
}
.color-purple5 {
    color: #9C27B0
}
.color-blueGrey5 {
    color: #607D8B
}
.color-black {
    color: #000
}
.color-white {
    color: #fff
}
/* Font family */
.ff-roboto {
    font-family: Roboto,arial,sans-serif
}
/* Font size */
.fs-xxxxxl {
    font-size: 11.2em
}
.fs-xxxxl {
    font-size: 5.6em
}
.fs-xxxl {
    font-size: 4.5em
}
.fs-xxl {
    font-size: 3.4em
}
.fs-xl {
    font-size: 2.4em
}
.fs-l {
    font-size: 2em
}
.fs-m {
    font-size: 1.6em
}
.fs-s {
    font-size: 1.4em
}
.fs-xs {
    font-size: 1.2em
}
@media screen and (min-width: 480px) {
    .bps-fs-xxxxxl {
        font-size: 11.2em
    }
    .bps-fs-xxxxl {
        font-size: 5.6em
    }
    .bps-fs-xxxl {
        font-size: 4.5em
    }
    .bps-fs-xxl {
        font-size: 3.4em
    }
    .bps-fs-xl {
        font-size: 2.4em
    }
    .bps-fs-l {
        font-size: 2em
    }
    .bps-fs-m {
        font-size: 1.6em
    }
    .bps-fs-s {
        font-size: 1.4em
    }
    .bps-fs-xs {
        font-size: 1.2em
    }
}
@media screen and (min-width: 768px) {
    .bpm-fs-xxxxxl {
        font-size: 11.2em
    }
    .bpm-fs-xxxxl {
        font-size: 5.6em
    }
    .bpm-fs-xxxl {
        font-size: 4.5em
    }
    .bpm-fs-xxl {
        font-size: 3.4em
    }
    .bpm-fs-xl {
        font-size: 2.4em
    }
    .bpm-fs-l {
        font-size: 2em
    }
    .bpm-fs-m {
        font-size: 1.6em
    }
    .bpm-fs-s {
        font-size: 1.4em
    }
    .bpm-fs-xs {
        font-size: 1.2em
    }
}
@media screen and (min-width: 1180px) {
    .bpl-fs-xxxxxl {
        font-size: 11.2em
    }
    .bpl-fs-xxxxl {
        font-size: 5.6em
    }
    .bpl-fs-xxxl {
        font-size: 4.5em
    }
    .bpl-fs-xxl {
        font-size: 3.4em
    }
    .bpl-fs-xl {
        font-size: 2.4em
    }
    .bpl-fs-l {
        font-size: 2em
    }
    .bpl-fs-m {
        font-size: 1.6em
    }
    .bpl-fs-s {
        font-size: 1.4em
    }
    .bpl-fs-xs {
        font-size: 1.2em
    }
}
@media screen and (min-width: 1320px) {
    .bpxl-fs-xxxxxl {
        font-size: 11.2em
    }
    .bpxl-fs-xxxxl {
        font-size: 5.6em
    }
    .bpxl-fs-xxxl {
        font-size: 4.5em
    }
    .bpxl-fs-xxl {
        font-size: 3.4em
    }
    .bpxl-fs-xl {
        font-size: 2.4em
    }
    .bpxl-fs-l {
        font-size: 2em
    }
    .bpxl-fs-m {
        font-size: 1.6em
    }
    .bpxl-fs-s {
        font-size: 1.4em
    }
    .bpxl-fs-xs {
        font-size: 1.2em
    }
}
/* Letter spacing */
.ls-xxl {
    letter-spacing: .3em
}
.ls-xl {
    letter-spacing: .2em
}
.ls-l {
    letter-spacing: .1em
}
.ls-normal {
    letter-spacing: normal
}
.ls-s {
    letter-spacing: -.1em
}
.ls-xs {
    letter-spacing: -.2em
}
.ls-xxs {
    letter-spacing: -.3em
}
/* Line height */
.lh-xxxxl {
    line-height: 6.3em
}
.lh-xxxl {
    line-height: 4.8em
}
.lh-xxl {
    line-height: 4em
}
.lh-xl {
    line-height: 3.2em
}
.lh-l {
    line-height: 2.8em
}
.lh-m {
    line-height: 2.4em
}
.lh-s {
    line-height: 2em
}
@media screen and (min-width: 480px) {
    .bps-lh-xxxxl {
        line-height: 6.3em
    }
    .bps-lh-xxxl {
        line-height: 4.8em
    }
    .bps-lh-xxl {
        line-height: 4em
    }
    .bps-lh-xl {
        line-height: 3.2em
    }
    .bps-lh-l {
        line-height: 2.8em
    }
    .bps-lh-m {
        line-height: 2.4em
    }
    .bps-lh-s {
        line-height: 2em
    }
}
@media screen and (min-width: 768px) {
    .bpm-lh-xxxxl {
        line-height: 6.3em
    }
    .bpm-lh-xxxl {
        line-height: 4.8em
    }
    .bpm-lh-xxl {
        line-height: 4em
    }
    .bpm-lh-xl {
        line-height: 3.2em
    }
    .bpm-lh-l {
        line-height: 2.8em
    }
    .bpm-lh-m {
        line-height: 2.4em
    }
    .bpm-lh-s {
        line-height: 2em
    }
}
@media screen and (min-width: 1180px) {
    .bpl-lh-xxxxl {
        line-height: 6.3em
    }
    .bpl-lh-xxxl {
        line-height: 4.8em
    }
    .bpl-lh-xxl {
        line-height: 4em
    }
    .bpl-lh-xl {
        line-height: 3.2em
    }
    .bpl-lh-l {
        line-height: 2.8em
    }
    .bpl-lh-m {
        line-height: 2.4em
    }
    .bpl-lh-s {
        line-height: 2em
    }
}
@media screen and (min-width: 1320px) {
    .bpxl-lh-xxxxl {
        line-height: 6.3em
    }
    .bpxl-lh-xxxl {
        line-height: 4.8em
    }
    .bpxl-lh-xxl {
        line-height: 4em
    }
    .bpxl-lh-xl {
        line-height: 3.2em
    }
    .bpxl-lh-l {
        line-height: 2.8em
    }
    .bpxl-lh-m {
        line-height: 2.4em
    }
    .bpxl-lh-s {
        line-height: 2em
    }
}
/* Margin */
.margin-xxl {
    margin: 96px
}
.margin-xl {
    margin: 48px
}
.margin-l {
    margin: 24px
}
.margin-m {
    margin: 16px
}
.margin-s {
    margin: 12px
}
.margin-xs {
    margin: 6px
}
.margin-xxs {
    margin: 3px
}
.margin-0 {
    margin: 0
}
.mt-xxl {
    margin-top: 96px
}
.mt-xl {
    margin-top: 48px
}
.mt-l {
    margin-top: 24px
}
.mt-m {
    margin-top: 16px
}
.mt-s {
    margin-top: 12px
}
.mt-xs {
    margin-top: 6px
}
.mt-xxs {
    margin-top: 3px
}
.mt-0 {
    margin-top: 0
}
.mr-xxl {
    margin-right: 96px
}
.mr-xl {
    margin-right: 48px
}
.mr-l {
    margin-right: 24px
}
.mr-m {
    margin-right: 16px
}
.mr-s {
    margin-right: 12px
}
.mr-xs {
    margin-right: 6px
}
.mr-xxs {
    margin-right: 3px
}
.mr-0 {
    margin-right: 0
}
.mb-xxl {
    margin-bottom: 96px
}
.mb-xl {
    margin-bottom: 48px
}
.mb-l {
    margin-bottom: 24px
}
.mb-m {
    margin-bottom: 16px
}
.mb-s {
    margin-bottom: 12px
}
.mb-xs {
    margin-bottom: 6px
}
.mb-xxs {
    margin-bottom: 3px
}
.mb-0 {
    margin-bottom: 0
}
.ml-xxl {
    margin-left: 96px
}
.ml-xl {
    margin-left: 48px
}
.ml-l {
    margin-left: 24px
}
.ml-m {
    margin-left: 16px
}
.ml-s {
    margin-left: 12px
}
.ml-xs {
    margin-left: 6px
}
.ml-xxs {
    margin-left: 3px
}
.ml-0 {
    margin-left: 0
}
/* Padding */
.padding-xxl {
    padding: 96px
}
.padding-xl {
    padding: 48px
}
.padding-l {
    padding: 24px
}
.padding-m {
    padding: 16px
}
.padding-s {
    padding: 12px
}
.padding-xs {
    padding: 6px
}
.padding-xxs {
    padding: 3px
}
.padding-0 {
    padding: 0
}
.pt-xxl {
    padding-top: 96px
}
.pt-xl {
    padding-top: 48px
}
.pt-l {
    padding-top: 24px
}
.pt-m {
    padding-top: 16px
}
.pt-s {
    padding-top: 12px
}
.pt-xs {
    padding-top: 6px
}
.pt-xxs {
    padding-top: 3px
}
.pt-0 {
    padding-top: 0
}
.pr-xxl {
    padding-right: 96px
}
.pr-xl {
    padding-right: 48px
}
.pr-l {
    padding-right: 24px
}
.pr-m {
    padding-right: 16px
}
.pr-s {
    padding-right: 12px
}
.pr-xs {
    padding-right: 6px
}
.pr-xxs {
    padding-right: 3px
}
.pr-0 {
    padding-right: 0
}
.pb-xxl {
    padding-bottom: 96px
}
.pb-xl {
    padding-bottom: 48px
}
.pb-l {
    padding-bottom: 24px
}
.pb-m {
    padding-bottom: 16px
}
.pb-s {
    padding-bottom: 12px
}
.pb-xs {
    padding-bottom: 6px
}
.pb-xxs {
    padding-bottom: 3px
}
.pb-0 {
    padding-bottom: 0
}
.pl-xxl {
    padding-left: 96px
}
.pl-xl {
    padding-left: 48px
}
.pl-l {
    padding-left: 24px
}
.pl-m {
    padding-left: 16px
}
.pl-s {
    padding-left: 12px
}
.pl-xs {
    padding-left: 6px
}
.pl-xxs {
    padding-left: 3px
}
.pl-0 {
    padding-left: 0
}
/* Text shadow */
