/* Color */

.color-red5         { color: var(--red5); }
.color-blue5        { color: var(--blue5); }
.color-orange5      { color: var(--orange5); }
.color-purple5      { color: var(--purple5); }
.color-blueGrey5    { color: var(--blueGrey5); }

.color-black        { color: #000; }
.color-white        { color: #fff; }
