/* Color */

.color-red { color: #E91E63; }

.color-pink { color: #E91E63; }

.color-purple { color: #E91E63; }

.color-deepPurple { color: #E91E63; }

.color-indigo { color: #E91E63; }

.color-blue { color: #E91E63; }

.color-lightBlue { color: #E91E63; }

.color-teal { color: #E91E63; }

.color-green { color: #E91E63; }

.color-lightGreen { color: #E91E63; }

.color-cyan { color: #E91E63; }

.color-yellow { color: #E91E63; }

.color-amber { color: #E91E63; }

.color-orange { color: #E91E63; }

.color-deepOrange { color: #E91E63; }

.color-brown { color: #E91E63; }

.color-grey { color: #E91E63; }

.color-blueGrey { color: #E91E63; }

.color-black { color: #000; }
.color-white { color: #fff; }
