/* Font size */

.fs-xxxxxl  { font-size: 11.2em; }
.fs-xxxxl   { font-size: 5.6em; }
.fs-xxxl    { font-size: 4.5em; }
.fs-xxl     { font-size: 3.4em; }
.fs-xl      { font-size: 2.4em; }
.fs-l       { font-size: 2em; }
.fs-m       { font-size: 1.6em; }
.fs-s       { font-size: 1.4em; }
.fs-xs      { font-size: 1.2em; }

@media screen and (min-width: 480px) {
    .bps-fs-xxxxxl  { font-size: 11.2em; }
    .bps-fs-xxxxl   { font-size: 5.6em; }
    .bps-fs-xxxl    { font-size: 4.5em; }
    .bps-fs-xxl     { font-size: 3.4em; }
    .bps-fs-xl      { font-size: 2.4em; }
    .bps-fs-l       { font-size: 2em; }
    .bps-fs-m       { font-size: 1.6em; }
    .bps-fs-s       { font-size: 1.4em; }
    .bps-fs-xs      { font-size: 1.2em; }
}

@media screen and (min-width: 768px) {
    .bpm-fs-xxxxxl  { font-size: 11.2em; }
    .bpm-fs-xxxxl   { font-size: 5.6em; }
    .bpm-fs-xxxl    { font-size: 4.5em; }
    .bpm-fs-xxl     { font-size: 3.4em; }
    .bpm-fs-xl      { font-size: 2.4em; }
    .bpm-fs-l       { font-size: 2em; }
    .bpm-fs-m       { font-size: 1.6em; }
    .bpm-fs-s       { font-size: 1.4em; }
    .bpm-fs-xs      { font-size: 1.2em; }
}

@media screen and (min-width: 1180px) {
    .bpl-fs-xxxxxl  { font-size: 11.2em; }
    .bpl-fs-xxxxl   { font-size: 5.6em; }
    .bpl-fs-xxxl    { font-size: 4.5em; }
    .bpl-fs-xxl     { font-size: 3.4em; }
    .bpl-fs-xl      { font-size: 2.4em; }
    .bpl-fs-l       { font-size: 2em; }
    .bpl-fs-m       { font-size: 1.6em; }
    .bpl-fs-s       { font-size: 1.4em; }
    .bpl-fs-xs      { font-size: 1.2em; }
}

@media screen and (min-width: 1320px) {
    .bpxl-fs-xxxxxl  { font-size: 11.2em; }
    .bpxl-fs-xxxxl   { font-size: 5.6em; }
    .bpxl-fs-xxxl    { font-size: 4.5em; }
    .bpxl-fs-xxl     { font-size: 3.4em; }
    .bpxl-fs-xl      { font-size: 2.4em; }
    .bpxl-fs-l       { font-size: 2em; }
    .bpxl-fs-m       { font-size: 1.6em; }
    .bpxl-fs-s       { font-size: 1.4em; }
    .bpxl-fs-xs      { font-size: 1.2em; }
}
